*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, rgb(150, 230, 237), pink);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 120px;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
}

form button:hover{
    color: aliceblue;
    background-color:palevioletred;
}

.task-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list{
    min-width: 45%;
    list-style: none;   
}

.task{
    margin: 0.5rem;
    background-color: aliceblue;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.task li{
    flex: 1;
}

.task button{
    font-size: 1.5rem;
}

.delete-btn, .done-btn{
    color: black;
    background-color:aliceblue;
    padding: 1rem;
    font-size: 1rem;
}

.delete-btn:hover, 
.done-btn:hover{
    color: aliceblue;
    background-color:palevioletred;
}

.task-item{
    padding: 0.5rem 0.5rem;
}

.done{
    /* text-decoration: line-through; */
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(10deg);
    opacity: 0;
}